@font-face {
    font-family: "Pokemon";
    src: url("../fonts/pokemon/pokemon_solid.ttf");
    src: url("../fonts/pokemon/pokemon_solid.ttf") format("truetype");
}

body{
    color: 	#34444c; /*#00008B;*/
    background-color: #ffde00;
}

#myModalLabel{
    text-transform: capitalize;
    font-weight: bold;
}

.slogan{
    color: #ffffff;
}

.pokemon-list li{
    background-color: #003a70;
    margin-top: 1em;
    border-radius: 1em;
    padding: 1em;
}

.pokemon-list li:first-child,
.pokemon-list li:last-child{
    border-radius: 1em;
}

.pokemon-list li:last-child{
    margin-bottom: 1em;
}

.pokemon-list button{
    height: 9em;
    width: 9em;
    background-image: url('../images/pokeball_PNG24.png');
    background-size: cover;
}

.pokemon-list button span{
    font-family: 'Pokemon', Courier, monospace;
    width: 100%;
    background-color: #ffffff;
    display: inline-block;
    color: #34444c;
    padding-bottom: 4px;
    letter-spacing: 4px;
}

.pokemon-list li:hover{
    background-color: #ff0000;
}

.pokeImg img{
    width: 50%;
}

.pokeImg {
    background: linear-gradient(
        to bottom,
        #fdf7d6,
        #fdf7d6 50%,
        #fefae6 50%,
        #fefae6
    );
    background-size: 100% 20px;
    border-radius: 2em;
    border: 10px ridge #b0bec5;
    text-align: center;
}

#myTab {
    margin-top: 1em;
}

#myTab .nav-link{
    color: #34444c;
    border-radius: 0;
    border-top-left-radius: 2em;
    background-color: #ffcccb ;
}

#myTab .active{
    background-color: #dd2c00;
    color: #ffffff;   
}

#myTab,
#myTabContent{
    font-family: 'Courier';
}

#myTabContent{
    border: 1px solid #dd2c00;   
}

.info-left{
    background-color: #ffcccb ;
}

#myTabContent .answer{   
    font-weight:bold;
}

