body{
    font-family: 'Courier New', Courier, monospace;
    color: 	#00008B;
    background-color: #ffde00;
}

#myModalLabel{
    text-transform: capitalize;
    font-weight: bold;
}

#modalContent img{
    width: 100%;
}

.slogan{
    color: #ffffff;
    width: 30%;
}

.pokemon-list li{
    background-color: #003a70;
    margin-top: 1em;
    border-radius: 2em;
    padding: 1em;
}

.pokemon-list li:first-child,
.pokemon-list li:last-child{
    border-radius: 2em;
}

.pokemon-list li:last-child{
    margin-bottom: 1em;
}

.pokemon-list button{
    height: 10em;
    width: 10em;
    background-image: url('../images/pokeball_PNG24.png');
    background-size: cover;
}

.pokemon-list button span{
    width: 100%;
    background-color: #ffffff;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

.pokemon-list li:hover{
    background-color: #ff0000;
}